.welcome-page {
    // background-color: $color !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 18rem;
    margin: 15vh auto;
    padding: .75em;
    border-radius: 3px;
    box-shadow: 0 .75em 1.25em #0004;
  }

 .button {
    flex: 1;
    padding: .75rem .50rem;
    margin-top: .5em;
    padding-left: 60px;
  }
 